@import 'https://fonts.googleapis.com/css?family=Taviraj|Trirong|Ubuntu+Condensed';



.row {
  height: 100px;
}


body{background-color: #48b5b3;
    font-family:Trirong;
}
header {background-color: #e83400;
        

}
nav{display: inline;}
 
 #navigation-menu li{

        text-align: justify;
        padding: 10px;
        display: inline;
        font-family: Tavira;
    }
    .navigation-menu-container {

        padding: 10px;
        border: 0;
        font-size: 12px;
        font-weight: normal;
        display: inline-block;
    }
    h1 {width: 20%;
    	display: inline;}



.blue{
	background-color: #3f5373;
}
	footer{background-color:#e83400; 
        text-align: center;
        font-family: Trirong;
    }
    
    .lastparagraph{
display: inline;
width: 320px;
padding: 10px;
margin-left: 10px;

    }
iframe{margin-right:50px;}



