@import 'https://fonts.googleapis.com/css?family=Taviraj|Trirong|Ubuntu+Condensed';



.row {
  height: 100px;
  margin-left:10%;
  margin-bottom:5%;

}
.well{
    margin-top:3%;
}

body{background-color: #48b5b3;
    font-family:Trirong;
}
header {background-color: #e83400;
}
nav{
    display: inline;
}
 
 #navigation-menu li{

        text-align: justify;
        padding: 10px;
        display: inline;
        font-family: Tavira;
    }
    .navigation-menu-container {

        padding: 10px;
        border: 0;
        font-size: 12px;
        font-weight: normal;
        display: inline-block;
    }
    h1 {width: 20%;
    	display: inline;}



.blue{
	background-color: #3f5373;
}
	footer{background-color:#e83400; 
        text-align: center;
        font-family: Trirong;
    }
    
.firstparagraph{
        float: left;
        display: block;
        margin: 15px 2% 0 2%;
        width: 25%;
        text-align: justify;
        }

.lastparagraph{

    float: right;
        display: block;
        margin: 15px 2% 0 2%;
        width: 25%;
        text-align: justify;
        
    }
.video, iframe{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #777;
    display: block;
    border: 10px #e8b614 solid;
}


.button {
    background:url(images/black2.jpg) no-repeat;
    background-size: 100px;
    cursor:pointer;
    width: 100px;
    height: 100px;
    border: none;
    color: #e83400;
    margin: 0 auto;
    margin-bottom:5px;
    text-align:center;
}

.container{ 
    background-color:#e83400;
    margin:2% 2%;
}


.button:active  /* use Dot here */
{   
    background:url(images/black2.jpg) no-repeat;
}

#res h3{
    margin-top:0;
}

footer{
  margin-top:10%;
}

    




